.App {
  text-align: center;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --bg:#01aacd;
  --color-black:#000000;
  --color-white:#ffffff;
}


